@import "header.scss";
@import "fonts.scss";
@import "mobile.scss";
@import "about.scss";
@import "justBg.scss";
@import "expertise.scss";
@import "team.scss";
@import "portfolio.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,h2 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-weight: 900;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.btn {
  font-family: 'Hammersmith One', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #01ded0;
  border: 1px solid #01ded0;
  padding: 15px 25px;
  border-radius: 3px;
  font-size: 16px;
  display: inline-block;
  &:hover {
    color: white;
    background: #01ded0;
  }
}
hr {
  margin: 30px auto;
}
